@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body #homeTitle {
  text-align: center;
  font-family: "DungGeunMo";
}

#startBtn {
  font-family: "DungGeunMo";
}

.textBox .thumbnail img {
  width: 80%;
  border: 2px solid #222;
}

.textBox .thumbnail .caption {
  text-align: center;
  font-family: "DungGeunMo";
}

.textBox .thumbnail .homeTestStartBtn {
  width: 40%;
  font-size: 20px;
}

.hideAnswer {
  display: none;
}
